/* FORM */

fieldset {
	padding: $spacing-default;
	border-color: $color-grey-lightest;
	border-style: solid;
}

form {
	color: $color-black;

	button,
	input,
	select {
		margin-top: $spacing-default;
	}
}

label {
	display: block;
	margin-bottom: $spacing-small;
	color: rgba($color-black, 0.7);
	font-size: 1.6rem;
	text-transform: uppercase;
	& ~ label {
		margin-top: $spacing-default;
	}
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
input[type="url"],
select {
	border-radius: $border-radius-default;
	display: block;
	min-height: 44px;
	padding: $spacing-small $spacing-default;
	width: 100%;
	background: $color-white;
	border: 1px solid $color-grey-light;
	color: $color-grey;
	transition: border-color 0.25s, box-shadow 0.25s;
}

input[readonly] {
	background-color: $color-grey;
	cursor: not-allowed;
}

textarea {
	border-radius: $border-radius-default;
	display: block;
	min-height: 200px;
	padding: $spacing-small $spacing-default;
	width: 100%;
	background: $color-white;
	border: 1px solid $color-grey-light;
	color: $color-grey;
	resize: vertical;
	transition: border-color 0.25s, box-shadow 0.25s;
}

#gform_wrapper_1 {
	h3 {
		margin: 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		list-style: none;
	}

	li {
		padding: $spacing-default;

		width: 100%;
	}

	li ~ li {
		max-width: 100%;

		@include bp-min-width($bp-sm) {
			max-width: 50%;
		}
	}

	#field_1_11 {
		max-width: 100%;

		text-align: center;
	}

	.gform_footer {
		text-align: center;
	}

	input[type="submit"] {
		margin: 0 auto;
	}
}
