/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: $spacing-default;
  margin-top: $spacing-default;

  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

$heading-1: 48px;
$heading-2: 36px;
$heading-3: 24px;
$heading-4: 18px;
$heading-5: 16px;
$heading-6: 14px;
$heading-tiny: 12px;

h1,
.title--h1 {
  margin-bottom: 24px;
  margin-top: 24px;

  font-size: $heading-2;
  font-weight: 700;
}

h2,
.title--h2 {
  font-size: $heading-3;
  font-weight: 700;
}

h3,
.title--h3 {
  font-size: $heading-4;
}

h4,
.title--h4 {
  font-size: $heading-5;
}

h5,
.title--h5 {
  font-size: $heading-6;
}

h6,
.title--h6 {
  font-size: $heading-tiny;
}

@include bp-min-width($bp-lg) {
  h1,
  .title--h1 {
    margin-bottom: 24px;
    margin-top: 40px;

    font-size: $heading-1;
  }
  h2,
  .title--h2 {
    font-size: $heading-2;
  }
  h3,
  .title--h3 {
    font-size: $heading-3;
  }
  h4,
  .title--h4 {
    font-size: $heading-4;
  }

  h5,
  .title--h5 {
    font-size: $heading-5;
  }

  h6,
  .title--h6 {
    font-size: $heading-6;
  }
}
