/*///////////////
/// PALETTE
*///////////////

.palette {

}

.palette__item {
    width: 100%;
    margin-bottom: $spacing-small;

    @include bp-min-width($bp-tablet) {
        margin-right: $spacing-default;
    }
}
 
